@tailwind base;
@tailwind components;
@tailwind utilities;


.headerFont{
  font-family: 'Spartan', 'ui-sans-serif', 'system-ui'
}
html {
  font-family: 'Open Sans', 'ui-sans-serif', 'system-ui';
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.theme-dark{
  --main-bg:  255, 255, 255;
  --accent-bg: 250, 235, 215;
  --accent: 232, 142, 66;
  --accent-dark: 228, 136, 66;
  --text-main: 35, 35, 35;
  --text-accent: 178, 179, 179;
  --text-alt: 255, 255, 255;
  --red: 247, 74, 74;

}
